[MASTER]

extension-pkg-whitelist=lxml,pydantic

[REPORTS]

# Template used to display messages.
msg-template={abspath}:{line}: [{msg_id}({symbol}), {obj}] {msg}


[DESIGN]

# Maximum number of attributes in a class.
max-args=8
max-attributes=12

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=100

# Maximum number of lines in a module
max-module-lines=500

# String used as indentation unit. This is usually " " (4 spaces) or "\t" (1 tab).
indent-string='    '
indent-after-paren=4


[SIMILARITIES]
# Ignore imports when computing similarities.
ignore-imports=yes


[TYPECHECK]

# List of members which are set dynamically and missed by Pylint inference
# system, and so shouldn't trigger E1101 when accessed.
generated-members=torch.*;db.session.*


[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifiers separated by comma (,) or put this
# option multiple times (only on the command line, not in the configuration
# file where it should appear only once).You can also use "--disable=all" to
# disable everything first and then reenable specific checks. For example, if
# you want to run only the similarities checker, you can use "--disable=all
# --enable=similarities". If you want to run only the classes checker, but have
# no Warning level messages displayed, use"--disable=all --enable=classes
# --disable=W"
disable=file-ignored,  # Don't report that file has been intentionally skipped.
        fixme,  # Don't report TODOs
        locally-disabled,  # Don't report that pylint check has been intentionally locally disabled.
        missing-docstring,  # Don't report missing docstrings (too many).
        no-absolute-import,  # Not relevant for Python 3.
        no-self-use,  # Does not consider inheritance. Test cases use self -> make them all static?
        old-division,  # Not relevant for Python 3.
        suppressed-message,  # Don't report a message has been intentionally supressed.
        too-few-public-methods,  # Prevent's classes being used as structures.

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once). See also the "--disable" option for examples.
enable=abstract-method,
       abstract-class-instantiated,
       access-member-before-definition,
       anomalous-backslash-in-string,
       anomalous-unicode-escape-in-string,
       apply-builtin,
       arguments-differ,
       assert-on-tuple,
       assign-to-new-keyword,
       assigning-non-slot,
       assignment-from-no-return,
       assignment-from-none,
       astroid-error,
       attribute-defined-outside-init,
       backtick,
       bad-classmethod-argument,
       bad-continuation,
       bad-except-order,
       bad-exception-context,
       bad-format-character,
       bad-format-string,
       bad-format-string-key,
       bad-indentation,
       bad-inline-option,
       bad-mcs-classmethod-argument,
       bad-mcs-method-argument,
       bad-open-mode,
       bad-option-value,
       bad-python3-import,
       bad-reversed-sequence,
       bad-staticmethod-argument,
       bad-str-strip-call,
       bad-super-call,
       bad-thread-instantiation,
       bad-whitespace,
       bare-except,
       basestring-builtin,
       binary-op-exception,
       blacklisted-name,
       boolean-datetime,
       broad-except,
       buffer-builtin,
       c-extension-no-member,
       catching-non-exception,
       cell-var-from-loop,
       cmp-builtin,
       cmp-method,
       coerce-builtin,
       coerce-method,
       comprehension-escape,
       confusing-with-statement,
       consider-iterating-dictionary,
       consider-merging-isinstance,
       consider-using-enumerate,
       consider-using-ternary,
       continue-in-finally,
       cyclic-import,
       dangerous-default-value,
       delslice-method,
       deprecated-itertools-function,
       deprecated-lambda,
       deprecated-method,
       deprecated-module,
       deprecated-operator-function,
       deprecated-pragma,
       deprecated-str-translate-call,
       deprecated-string-function,
       deprecated-sys-function,
       deprecated-types-field,
       deprecated-urllib-function,
       dict-items-not-iterating,
       dict-iter-method,
       dict-keys-not-iterating,
       dict-values-not-iterating,
       dict-view-method,
       div-method,
       duplicate-argument-name,
       duplicate-bases,
       duplicate-code,
       duplicate-except,
       duplicate-key,
       empty-docstring,
       eq-without-hash,
       eval-used,
       exception-escape,
       exception-message-attribute,
       exec-used,
       execfile-builtin,
       expression-not-assigned,
       fatal,
       file-builtin,
       filter-builtin-not-iterating,
       format-combined-specification,
       format-needs-mapping,
       function-redefined,
       getslice-method,
       global-at-module-level,
       global-statement,
       global-variable-not-assigned,
       global-variable-undefined,
       hex-method,
       idiv-method,
       import-error,
       import-self,
       import-star-module-level,
       inconsistent-mro,
       inconsistent-return-statements,
       indexing-exception,
       inherit-non-class,
       init-is-generator,
       input-builtin,
       intern-builtin,
       invalid-all-object,
       invalid-characters-in-docstring,
       invalid-encoded-data,
       invalid-format-index,
       invalid-length-returned,
       invalid-metaclass,
       invalid-name,
       invalid-sequence-index,
       invalid-slice-index,
       invalid-slots,
       invalid-slots-object,
       invalid-star-assignment-target,
       invalid-str-codec,
       invalid-unary-operand-type,
       invalid-unicode-literal,
       keyword-arg-before-vararg,
       len-as-condition,
       line-too-long,
       literal-comparison,
       locally-enabled,
       logging-format-interpolation,
       logging-format-truncated,
       logging-not-lazy,
       logging-too-few-args,
       logging-too-many-args,
       logging-unsupported-format,
       long-builtin,
       long-suffix,
       lost-exception,
       lowercase-l-suffix,
       map-builtin-not-iterating,
       metaclass-assignment,
       method-check-failed,
       method-hidden,
       misplaced-bare-raise,
       misplaced-comparison-constant,
       misplaced-future,
       # missing-docstring,
       missing-final-newline,
       missing-format-argument-key,
       missing-format-attribute,
       missing-format-string-key,
       missing-kwoa,
       missing-super-argument,
       mixed-format-string,
       mixed-indentation,
       mixed-line-endings,
       multiple-imports,
       multiple-statements,
       next-method-called,
       next-method-defined,
       no-classmethod-decorator,
       no-else-return,
       no-init,
       no-member,
       no-method-argument,
       no-name-in-module,
       no-self-argument,
       no-staticmethod-decorator,
       no-value-for-parameter,
       non-ascii-bytes-literal,
       non-iterator-returned,
       non-parent-init-called,
       nonexistent-operator,
       nonlocal-and-global,
       nonlocal-without-binding,
       nonstandard-exception,
       nonzero-method,
       not-a-mapping,
       not-an-iterable,
       not-async-context-manager,
       not-callable,
       not-context-manager,
       not-in-loop,
       notimplemented-raised,
       oct-method,
       old-octal-literal,
       old-ne-operator,
       old-raise-syntax,
       old-style-class,
       parameter-unpacking,
       parse-error,
       pointless-statement,
       pointless-string-statement,
       print-statement,
       property-on-old-class,
       protected-access,
       raising-bad-type,
       raising-format-tuple,
       raising-non-exception,
       raising-string,
       range-builtin-not-iterating,
       raw-checker-failed,
       raw_input-builtin,
       rdiv-method,
       redefine-in-handler,
       redefined-argument-from-local,
       redefined-builtin,
       redefined-outer-name,
       reduce-builtin,
       redundant-keyword-arg,
       redundant-unittest-assert,
       reimported,
       relative-beyond-top-level,
       relative-import,
       reload-builtin,
       repeated-keyword,
       return-arg-in-generator,
       return-in-init,
       return-outside-function,
       round-builtin,
       setslice-method,
       shallow-copy-environ,
       signature-differs,
       simplifiable-if-statement,
       simplify-boolean-expression,
       single-string-used-for-slots,
       singleton-comparison,
       slots-on-old-class,
       standarderror-builtin,
       star-needs-assignment-target,
       stop-iteration-return,
       super-init-not-called,
       super-on-old-class,
       superfluous-parens,
       syntax-error,
       sys-max-int,
       too-few-format-args,
       too-many-ancestors,
       too-many-arguments,
       too-many-boolean-expressions,
       too-many-branches,
       too-many-format-args,
       too-many-function-args,
       too-many-instance-attributes,
       too-many-lines,
       too-many-locals,
       too-many-nested-blocks,
       too-many-public-methods,
       too-many-return-statements,
       too-many-star-expressions,
       too-many-statements,
       trailing-comma-tuple,
       trailing-newlines,
       trailing-whitespace,
       truncated-format-string,
       unbalanced-tuple-unpacking,
       undefined-all-variable,
       undefined-loop-variable,
       undefined-variable,
       unexpected-keyword-arg,
       unexpected-line-ending-format,
       unexpected-special-method-signature,
       ungrouped-imports,
       unichr-builtin,
       unicode-builtin,
       unidiomatic-typecheck,
       unnecessary-lambda,
       unnecessary-pass,
       unnecessary-semicolon,
       unneeded-not,
       unpacking-in-except,
       unpacking-non-sequence,
       unreachable,
       unrecognized-inline-option,
       unsubscriptable-object,
       unsupported-assignment-operation,
       unsupported-binary-operation,
       unsupported-delete-operation,
       unsupported-membership-test,
       unused-argument,
       unused-format-string-argument,
       unused-format-string-key,
       unused-import,
       unused-variable,
       unused-wildcard-import,
       used-before-assignment,
       used-prior-global-declaration,
       useless-else-on-loop,
       useless-object-inheritance,
       useless-super-delegation,
       useless-suppression,
       using-constant-test,
       using-cmp-argument,
       wildcard-import,
       wrong-import-order,
       wrong-import-position,
       wrong-spelling-in-comment,
       wrong-spelling-in-docstring,
       xrange-builtin,
       xreadlines-attribute,
       yield-inside-async-function,
       yield-outside-function,
       zip-builtin-not-iterating

[IMPORTS]

# Deprecated modules which should not be used, separated by a comma
deprecated-modules=distutils
