[flake8]
# D203: 1 blank line required before class docstring. In conflict with D211: No blank lines allowed before class docstring
# W503: line break before binary operator. In conflict with W504: line break after binary operator
# https://www.python.org/dev/peps/pep-0008/#should-a-line-break-before-or-after-a-binary-operator
ignore = D203,W503
exclude = .git,.idea,.cache,build,data,packfromimport
# McCabe complexity of a function
max-complexity = 10
max-line-length = 100

show-source = True
statistics = True
