<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}User Management{% endblock %}</title>
    <!-- You may link a stylesheet from your static folder -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
  </head>
  <body>
    <nav>
      <ul>
        {% if current_user.is_authenticated %}
          <li>Welcome, {{ current_user.username }}!</li>
          <li><a href="{{ url_for('user.profile') }}">Profile</a></li>
            {% if current_user.username == 'radim' %}
                <li><a href="{{ url_for('user.manage_users') }}">Users</a></li>
            {% endif %}
          <li><a href="{{ url_for('radiopharm.manage') }}">Radiopharmaceuticals</a></li>
          <li><a href="{{ url_for('dosing_schemes.list_dosing_schemes') }}">Dosing</a></li>
          <li><a href="{{ url_for('daysetup.plan_daysetup') }}">DaySetup</a></li>
          <li><a href="{{ url_for('patients.manage_patients') }}">Patients</a></li>
          <li><a href="{{ url_for('tests.manage_tests') }}">Tests</a></li>
          <li><a href="{{ url_for('user.logout') }}">Logout</a></li>
        {% else %}
          <li><a href="{{ url_for('user.login') }}">Login</a></li>
          <li><a href="{{ url_for('user.register') }}">Register</a></li>
        {% endif %}
      </ul>
    </nav>
    <!-- Display any flashed messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
